@import "tailwindcss";

.hero-noise {
  background:
    radial-gradient(circle at 1px 1px, rgba(255,255,255,0.04) 1px, transparent 0),
    linear-gradient(to bottom right, #0f172a, #020617);
  background-size: 20px 20px, cover;
}
